@using Pop.ly.Models.Database;
@model Movie
<div class="row">
    <div class="col-sm"><img src="@Model.CoverArt" /></div>
    <div class="col-sm">
        @Model.Genre | @Model.ReleaseYear
    </div>
    <div class="col-sm">

    </div>
</div>

